.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 2rem;
}

.navbar-right .nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    font-size: 30px;
}

.navbar-right .nav-links li {
    margin-right: 4rem;
}

.navbar-right .nav-links a {
    color: blue;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 2rem;
}

.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
  }

@media screen and (max-width: 780px) {
    .menu-toggle {
        display: flex;
    }

    .menu-toggle.open .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg) translateX(1px);
    }
      
    .menu-toggle.open .bar:nth-child(2) {
        opacity: 0;
    }
      
    .menu-toggle.open .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg) translateX(1px);
    }
    
    .navbar-right .nav-links {
        display: none;
        position: absolute;
        top: 55px;
        right: 0;
        background: #333;
        width: 270px;
        height: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        padding: 10px;
    }

    .navbar-right .nav-links.active {
        display: block;
    }

    .navbar-right .nav-links li {
        padding: 10px 20px;
        text-align: right;
        margin: 20px 0;
    }

}